*{
    font-family: 'Poppins', sans-serif;
    color: #4c4c4c;
}
.cont_central{
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
    max-width: 1250px;
}
.cnt_cards{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    align-items: center;
    .card{
        background: #FFFFFF;
        box-shadow: 0px 40px 50px -34px rgba(114, 142, 196, 0.5);
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 400px;
        picture{
            background-color: #78A5FA;
            max-height: 335px;
            display: flex;
            width: 100%;
            margin: 0 0 40px;
            img{
                width: 240px;
                object-fit: contain;
                display: block;
                margin: 0 auto;
                transform: translateY(30px);
            }
        }
        .h_card{
            margin: 0;
        }
        .txt_card{
            margin: 10px 0 30px;
            max-width: 300px;
            text-align: center;
        }
    }
}
footer{
    width: 100%;
    padding: 64px 0;
    background: #353535;
}
.cnt_gen_cols_footer{
    width: 100%;
    display: flex;
}
.col_footer{
    width: 33.33%;
    box-sizing: border-box;
    padding: 16px 32px;
    color: #fff;
    &:last-child{
        padding-right: 0;
    }
    &:first-child{
        padding-left: 0;
    }
}
.h_footer{
    width: 100%;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
}
.menu_footer{
    width: 100%;
    padding:0;
    text-decoration: none;
    li{
        display: block;
        margin: 24px 0;
        a{
            cursor: pointer;
            color: #fff;
            &:hover{
                color: #78A5FA;
            }
        }
    }
}
.txt_suscrib{
    color: #fff;
    font-size: 16px;
    display: inline-block;
    padding: 0 0 16px;
}
input{
    border-radius: 4px;
    height: 40px;
    box-sizing: border-box;
    padding: 0 16px;
    font-size: 16px;
}
.fomr_susc{
    width: 100%;
    display: flex;
}
.campo_susc{
    background: transparent;
    border: 1px solid #999;
}
.btn{
    border-radius: 4px;
    font-size: 18px;
    background: #78A5FA;
    border:none;
    box-sizing: border-box;
    padding: 8px 32px;
    color: #fff;
    cursor: pointer;
    position: relative;
}
.btn_susc{
    height: 40px;
}